---
import { Image } from "astro:assets";
import Paragraph from "../shared/Paragraph.astro";
import google from "../../assets/images/google.webp";

export interface Props {
  title: string;
  star: string;
  features: string[];
  icon: ImageMetadata;
  link: string;
}

const { title, star, features, icon, link } = Astro.props;
---

<div
  class="p-5 sm:p-6 lg:p-8 relative overflow-hidden rounded-3xl shadow-md shadow-slate-700 dark:shadow-slate-900
  bg-gradient-to-tr from-slate-100/70 to-zinc-200/60 dark:from-slate-800/10 dark:to-zinc-800/10 backdrop-blur-md hover:bg-black/10 hover:dark:bg-slate-700/10"
>
  <a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
  >
    <div
      class="rounded-xl p-3 text-heading-1 w-max relative bg-slate-200 dark:bg-slate-800"
    >
      <Image
        src={icon}
        alt="Testimoni Berkah Jasa"
        class="my-class"
        width="48"
        height="48"
        class="lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
      />
    </div>
    <div class="mt-6 space-y-4 relative">
      <h2 class="text-lg md:text-xl font-semibold text-heading-2">
        {title}
      </h2>
      <div class="flex gap-4 flex-row items-center">
        <Image
          src={google}
          alt="Berkah Jasa on Google Reviews"
          class="my-class"
          width="48"
          height="48"
          class="rounded-3xl object-cover lg:max-h-none max-h-96"
        />
        {star}
      </div>
      <Paragraph>
        <div
          class="mt-8 space-y-4 text-heading-3 font-medium list-outside list-disc"
        >
          {
            features.map((feature) => {
              return (
                <div class="flex items-center font-medium">
                  <span class="font-bold rounded-full w-8 h-8 mr-3 inline-flex justify-center items-center text-primary dark:text-white">
                    &checkmark;
                  </span>
                  <span class="flex-1">
                    {feature}
                  </span>
                </div>
              );
            })
          }
        </div>
      </Paragraph>
    </div>
  </a>
</div>
